@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #836b5e);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(82, 67, 59, 0.308);
}

h1 {
    color: rgb(197, 145, 81);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(99, 81, 71, 0.493);
}

h2 {
    color: #6d4e3d;
}

p {
    text-align: justify;
}